In [10]:
import pandas as pd
import os

In [11]:
folder = "/zi/home/esra.lenz/Documents/00_HITKIP/09_TABPFN/01_Validation_data_set/00_data/00_ds000030/"
csv_path = os.path.join(folder, "participants.tsv")
merged_df = pd.read_csv(csv_path, sep="\t")
merged_df.rename(columns={"participant_id": "ID"}, inplace=True)
merged_df["ID"].replace("sub-", "", regex=True, inplace=True)
merged_df["ID"] = merged_df["ID"].astype(str)
demographics_covariates = merged_df[["ID", "age", "gender", "ScannerSerialNumber"]]
#subtract 1 from sex
#remape gender M=0 and F=1
demographics_covariates["gender"] = demographics_covariates["gender"].map({"M": 0, "F": 1})
#rename demographics_covariates to demographics_covariates
demographics_covariates.rename(
    columns={"ID": "ID", "gender": "Sex", "age": "Age", "ScannerSerialNumber": "Site"},
    inplace=True,
)
demographics_covariates.dropna(inplace=True)
demographics_covariates.to_csv(os.path.join(folder, "all_ages_all_ids.csv"), index=False)
demographics_covariates

/tmp/ipykernel_2151290/3106923391.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_covariates["gender"] = demographics_covariates["gender"].map({"M": 0, "F": 1})
/tmp/ipykernel_2151290/3106923391.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_covariates.rename(
/tmp/ipykernel_2151290/3106923391.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_covariates.dropna(inplace=True)

        ID  Age  Sex     Site
0    10159   30    1  35343.0
1    10171   24    0  35343.0
2    10189   49    0  35343.0
3    10193   40    0  35343.0
4    10206   21    0  35343.0
..     ...  ...  ...      ...
267  70079   21    0  35426.0
268  70080   48    0  35426.0
269  70081   50    0  35426.0
270  70083   46    1  35426.0
271  70086   48    0  35426.0

[272 rows x 4 columns]

In [12]:
#Potentially add BMI
folder = "/zi/home/esra.lenz/Documents/00_HITKIP/09_TABPFN/01_Validation_data_set/00_data/01_ds002785/"
csv_path = os.path.join(folder, "participants.tsv")
merged_df = pd.read_csv(csv_path, sep="\t")
merged_df.rename(columns={"participant_id": "ID"}, inplace=True)
merged_df["ID"].replace("sub-", "", regex=True, inplace=True)
merged_df["ID"] = merged_df["ID"].astype(str)
demographics_covariates = merged_df[["ID", "sex", "age"]]
#subtract 1 from sex
#remape gender M=0 and F=1
demographics_covariates["sex"] = demographics_covariates["sex"].map({"M": 0, "F": 1})
#rename demographics_covariates to demographics_covariates
demographics_covariates.rename(
    columns={"ID": "ID", "sex": "Sex", "age": "Age"},
    inplace=True,
)
demographics_covariates.dropna(inplace=True)
demographics_covariates.to_csv(os.path.join(folder, "all_ages_all_ids.csv"), index=False)
demographics_covariates

/tmp/ipykernel_2151290/2601002381.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_covariates["sex"] = demographics_covariates["sex"].map({"M": 0, "F": 1})
/tmp/ipykernel_2151290/2601002381.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_covariates.rename(
/tmp/ipykernel_2151290/2601002381.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_covariates.dropna(inplace=True)

       ID  Sex    Age
0    0001  1.0  26.25
1    0002  1.0  21.00
2    0003  0.0  23.00
3    0004  1.0  23.50
4    0005  0.0  21.75
..    ...  ...    ...
211  0212  1.0  20.50
212  0213  0.0  19.75
213  0214  0.0  19.50
214  0215  1.0  18.25
215  0216  1.0  20.50

[209 rows x 3 columns]

In [13]:
#Potentially add BMI
folder = "/zi/home/esra.lenz/Documents/00_HITKIP/09_TABPFN/01_Validation_data_set/00_data/02_ds002790/"
csv_path = os.path.join(folder, "participants.tsv")
merged_df = pd.read_csv(csv_path, sep="\t")
merged_df.rename(columns={"participant_id": "ID"}, inplace=True)
merged_df["ID"].replace("sub-", "", regex=True, inplace=True)
merged_df["ID"] = merged_df["ID"].astype(str)
demographics_covariates = merged_df[["ID", "sex", "age"]]
#subtract 1 from sex
#remape gender M=0 and F=1
demographics_covariates["sex"] = demographics_covariates["sex"].map({"M": 0, "F": 1})
#rename demographics_covariates to demographics_covariates
demographics_covariates.rename(
    columns={"ID": "ID", "sex": "Sex", "age": "Age"},
    inplace=True,
)
demographics_covariates.to_csv(os.path.join(folder, "all_ages_all_ids.csv"), index=False)
demographics_covariates

/tmp/ipykernel_2151290/3199913228.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_covariates["sex"] = demographics_covariates["sex"].map({"M": 0, "F": 1})
/tmp/ipykernel_2151290/3199913228.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_covariates.rename(

       ID  Sex    Age
0    0001  0.0  25.50
1    0002  1.0  23.25
2    0003  1.0  25.00
3    0004  1.0  20.00
4    0005  0.0  24.75
..    ...  ...    ...
221  0222  1.0  22.00
222  0223  1.0  20.75
223  0224  0.0  21.75
224  0225  1.0  20.25
225  0226  0.0  20.00

[226 rows x 3 columns]