In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../00_data/age_label/all_ages_healthy.csv")

In [4]:
df

           ID  Sex  label_Age  Site
0      100000    1         28    31
1      100001    0         48    31
2      100003    0         50    21
3      100005    1         58    81
4      100006    0         46    21
...       ...  ...        ...   ...
16359  130922    0         43    81
16360  130923    1         62    21
16361  130924    0         54    11
16362  130925    0         48    11
16363  130928    0         22    31

[16364 rows x 4 columns]

In [13]:
bin_size = 10
max_age = df['label_Age'].max()
min_age = df['label_Age'].min()

# Create bins starting from the minimum age
bins = list(range(int(min_age), int(max_age) + bin_size, bin_size))

# Create age group labels
df['label_age_group'] = pd.cut(df['label_Age'], bins=bins, labels=False)

# Print the actual age ranges for each group
age_ranges = pd.cut(df['label_Age'], bins=bins)
print("Age group mappings:")
for i, category in enumerate(age_ranges.cat.categories):
    print(f"Group {i}: {category}")

print("\nValue counts:")
print(df["label_age_group"].value_counts().sort_index())
len(df["label_Age"].unique())
df["label_Age"].describe()

Age group mappings:
Group 0: (19, 29]
Group 1: (29, 39]
Group 2: (39, 49]
Group 3: (49, 59]
Group 4: (59, 69]
Group 5: (69, 79]

Value counts:
label_age_group
0.0    1651
1.0    1824
2.0    4793
3.0    4461
4.0    3391
5.0     240
Name: count, dtype: int64

count    16364.000000
mean        48.699218
std         12.364732
min         19.000000
25%         41.000000
50%         49.000000
75%         58.000000
max         74.000000
Name: label_Age, dtype: float64

In [8]:
df.to_csv("../00_data/age_label/all_ages_all_ids_healthy.csv", index=False)

In [28]:
#df.to_csv("../00_data/age_label/all_ages.csv", index=False)