In [1]:
import pandas as pd
import os
import subprocess

In [2]:
def download_data(outputfolder = "/opt/notebooks/00_data_for_loop/"):
    mri_tables = os.path.join(outputfolder, "mri_tables/")
    os.makedirs(mri_tables, exist_ok=True)
    command = f"dx download -r project-GvJ4qQ8Jk6k7QFZ0Jzjp7vJ6:/Users/Esra_Lenz/02_Data/00_mri_tables/03_combined_mris/00_confounded/ --output '{mri_tables}'"
    subprocess.run(command, shell=True,capture_output=True, text=True)

    labels = os.path.join(outputfolder, "labels")
    os.makedirs(labels, exist_ok=True)
    command = f"dx download -r project-GvJ4qQ8Jk6k7QFZ0Jzjp7vJ6:/Users/Esra_Lenz/02_Data/01_labels/merged_multitarget_df_with_demographics.csv --output '{labels}'"
    subprocess.run(command, shell=True,capture_output=True, text=True)

In [6]:
download_data()

In [11]:
mri_data = "/opt/notebooks/00_data_for_loop/mri_tables/"
#load specific files to ../00_data/mris if they contain 
output_dir = "../00_data/mris/"
os.makedirs(output_dir, exist_ok=True)
files_to_find = ["aparc.volume.csv", "aparc.thickness.csv", "aseg.volume.csv"]
for root, dirs, files in os.walk(mri_data):
    for file in files:
        for file_to_find in files_to_find:
            if file == file_to_find:
                print(file)
                df = pd.read_csv(os.path.join(root, file))
                #chang ending to csv
                name = file.replace(".tsv", ".csv")
                df.to_csv(os.path.join(output_dir, file), index=False)

aseg.volume.csv
aparc.volume.csv
aparc.thickness.csv

In [12]:
merged_df = pd.read_csv("/opt/notebooks/00_data_for_loop/labels/merged_multitarget_df_with_demographics.csv")

In [14]:
merged_df

,ID,assessment_centre,bmi,deprivation_index,age_at_assessment,sex,label_nd_vs_no_nd_sex_balanced,label_no_nd_dep_vs_nd_dep_sex_balanced,label_nd_no_dep_vs_nd_dep_sex_balanced,label_no_nd_no_dd_vs_nd_dd_sex_balanced,...,label_HRD_Binge>1_no_ol,label_HRD_Binge>3_frequ>2_no_ol,label_HRD_Binge>2_frequ>2_no_ol,label_HRD_Binge>1_frequ>2_no_ol,label_HRD_Binge>3_frequ>3_no_ol,label_HRD_Binge>2_frequ>3_no_ol,label_HRD_Binge>1_frequ>3_no_ol,label_double_depressed,label_Probably Depressed,label_severely_depressed
0,1000645,0,30.0503,-3.55,57,0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0
1,1001399,0,26.7109,-3.88,75,1,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001446,1,23.5577,-4.37,64,0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,1001909,0,31.4765,-0.80,67,0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,1.0
4,1003029,1,22.5684,-1.68,75,0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46828,6020493,1,25.1534,-1.79,51,0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
46829,6021279,1,28.1831,1.77,53,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
46830,6021314,1,29.7228,-2.27,62,0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46831,6021338,1,19.7350,-2.72,70,1,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
46832,6021542,0,21.6017,-3.90,71,1,1.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:

demographics_covariates = merged_df[["ID", "sex", "age_at_assessment", "assessment_centre"]]

In [16]:
#rename demographics_covariates to demographics_covariates
demographics_covariates.rename(
    columns={"ID": "ID", "sex": "Sex", "assessment_centre": "Site", "age_at_assessment": "Age"},
    inplace=True,
)

/tmp/ipykernel_12520/3560396784.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_covariates.rename(

In [17]:
os.makedirs("../00_data/age_label/", exist_ok=True)
demographics_covariates.to_csv("../00_data/age_label/all_ages_all_ids.csv", index=False)

In [18]:
demographics_covariates.to_csv("../00_data/UKB_demographics_covariates.csv", index=False)

In [19]:
demographics_covariates

            ID  Sex  Age  Site
0      1000645    0   57     0
1      1001399    1   75     0
2      1001446    0   64     1
3      1001909    0   67     0
4      1003029    0   75     1
...        ...  ...  ...   ...
46828  6020493    0   51     1
46829  6021279    1   53     1
46830  6021314    0   62     1
46831  6021338    1   70     1
46832  6021542    1   71     0

[46833 rows x 4 columns]

In [ ]:
#download validation data
os.makedirs("../00_data/validation_data/", exist_ok=True)
command = "dx download -r project-GqzxkVQJ34g6ygFJ4ZbvqBYF:/Esra/00_CLIP/03_Validation_Data/00_National_Cohort/ --output '../00_data/validation_data/'"
subprocess.run(command, shell=True,capture_output=True, text=True)

CompletedProcess(args="dx download -r project-GqzxkVQJ34g6ygFJ4ZbvqBYF:/Esra/00_CLIP/03_Validation_Data/00_National_Cohort/ --output '../00_data/validation_data/'", returncode=0, stdout='', stderr='')